<!DOCTYPE html>
{% load static %}
{%  block content %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>appreciation</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{% static 'css/loading.css' %}">

</head>
<body>
  <!-- partial:index.partial.html -->
  <div class="loader_bg">
    <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="" /></div>
</div>
<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for further instructions on how to join the support group.</p>
  <hr>
  <p>
    Having trouble? <a href="{% url 'contact' %}" style="color: #ff5722;">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="{% url 'index' %}" style="background-color: #ff5722; border-color: #ff5722;" role="button">Continue to homepage</a>
  </p>
</div>
<!-- partial -->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
  <script src="{% static 'js/jquery1.min.js' %}"></script>
  <script src="{% static 'js/loading.js' %} "></script>
</body>
{% endblock content %}
</html>

